figure {
  position: relative;

  margin: 0 0 20px 0;

  background: $white;

}

figure > img {
  opacity: 0.3;
}

figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: $vw-medium) {
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  figure {
    width: 47%;
  }
}

@media screen and (min-width: $vw-huge) {
  figure {
    width: 31%;
  }

  figure.img1 {
    width: 100%;

    order: -1;
  }
}